.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/myDocuments.cannedSearch/Resources/ar.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/ca.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/cs.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/da.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/de.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/el.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/en.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/en_AU.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/en_GB.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/es.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/es_419.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/fi.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/fr.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/fr_CA.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/he.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/hi.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/hr.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/hu.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/id.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/it.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/ja.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/ko.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/ms.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/nl.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/no.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/pl.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/pt.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/pt_PT.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/ro.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/ru.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/sk.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/sv.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/th.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/tr.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/uk.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/vi.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/zh_CN.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/zh_HK.lproj/InfoPlist.strings
src/assets/myDocuments.cannedSearch/Resources/zh_TW.lproj/InfoPlist.strings
